build/
tags.*

/Valgrind_helpers/qt.supp
/Valgrind_helpers/sdl.supp
/Valgrind_helpers/third_party.supp
/Valgrind_helpers/*.log
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.supp

# Mac
.DS_Store
.AppleDouble
.LSOverride
._*

# Linux
.*.swp
*~

# CMake
/build/
/CMakeFiles/
/CMakeCache.txt
/cmake_install.cmake
/Makefile
/_deps/
/bin/
/lib/
/compile_commands.json
/Testing/
/install_manifest.txt
/CPack*.cmake

# IDEs and editors
.vscode/
.idea/

